<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase"
        tools:targetApi="31">
        <activity
            android:name=".TwentyFive.Spinner_Or_Dropdown"
            android:exported="false" />
        <activity
            android:name=".Nineteen.RecyclerviewFragment"
            android:exported="false" />
        <activity
            android:name=".Eighteen.FirebaseNotification"
            android:exported="false" />
        <activity
            android:name=".Seventeen.MultipleFileUpload"
            android:exported="false" />
        <activity
            android:name=".Sixteen.ViewPDF"
            android:exported="false" />
        <activity
            android:name=".Fifteen.uploadfile"
            android:exported="false" />
        <activity
            android:name=".Fifteen.UploadPDF"
            android:exported="false" />
        <activity
            android:name=".Twelve.adddata"
            android:exported="false" />
        <activity
            android:name=".Eleven.UpdateDataInFirebase_RecyclerView"
            android:exported="false" />
        <activity
            android:name=".Tenth.FirebaseRecyclerViewSearch"
            android:exported="false" />
        <activity
            android:name=".Twelve.UpdateDataInFirebase_RecyclerView2"
            android:exported="false" />
        <activity
            android:name=".ninth.FirebaseRecyclerView"
            android:exported="false" />
        <activity
            android:name=".Eight.dashboard3"
            android:exported="false" />
        <activity
            android:name=".Eight.google_login"
            android:exported="false" />
        <activity
            android:name=".seventh.Welcome"
            android:exported="false" />
        <activity
            android:name=".seventh.VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".seventh.OTP"
            android:exported="false" />
        <activity
            android:name=".sixthvideo.dashboard"
            android:exported="false" />
        <activity
            android:name=".sixthvideo.login"
            android:exported="false" />
        <activity
            android:name=".fifthvideos.New_User_Authentication_Login_Logout_User_Managment"
            android:exported="false" />
        <activity
            android:name=".fourthvideo.textandimage_account_creation"
            android:exported="false" />
        <activity
            android:name=".thirdvideo.image"
            android:exported="false" />
        <activity
            android:name=".secondvideo.text"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Eighteen.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>